extends layout.pug
mixin card(classified)
	.card.border-dark(style="max-width: 12rem;")
		.card-header.bg-light.text-center
			a(href="/classified/" + classified.c_id)
				button(class="btn",style="font-size:25px").text-primary.card-title=classified.title
		if classified.picture
			img.card-img-bottom(src='data:image/jpg;base64,' + classified.picture, alt="Card image")
block content

	.container
		.row
			.col-lg-3
				.list-group
					a.list-group-item.active(href='#') Category 1
					a.list-group-item(href='#') Category 2
					a.list-group-item(href='#') Category 3
			.col-sm-8
				each row,idx in classifieds
					.row.mb-4
						.card-deck
							each classified in row
								+card(classified)