extends layout.pug
block content
	.container
		.card.mx-auto(style="width: 40rem;")
			.card-body
				h5.card-title=`Username: ${profile.username}` 
				p.card-text=`Email: ${profile.email}`
			ul.list-group.list-group-flush
				li.list-group-item=`Gender: ${profile.gender}`
				li.list-group-item=`Api key: ${profile.api_key}`
